<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {{question-detail question=model}}
      {{update-question update="update" question=model}}{{delete-question destroyQuestion="destroyQuestion" question=model}}
    </div>
    <div class="col-sm-3">
      {{new-answer saveAnswer="saveAnswer" question=model}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{answer-list question=model updateAnswer="updateAnswer"  destroyAnswer="destroyAnswer"}}
    </div>
  </div>
</div>
